<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lcg.gift">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 配置用户权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!--自v5.3.2版本起，下面这个权限为必备权限-->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- 以下为可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="e866cfb0" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/ThemeStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 有米start -->
        <activity
            android:name="xk.zld.qd.Kl"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <service
            android:name="xk.zld.qd.Cj"
            android:exported="false"></service>
        <service
            android:name="xk.zld.qd.Kk"
            android:exported="false"></service>

        <receiver android:name="xk.zld.qd.Iq">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 有米SDK为了兼容Android N应用间共享文件行为变更而需要配置的FileProvider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lcg.gift.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
        <!-- 有米end -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.RegistActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.HistroyActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.CostActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.RobActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.YMActivity"
            android:screenOrientation="sensorPortrait" />
    </application>

</manifest>